In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
gdp_df=pd.read_csv('../data/gdp_per_capita.csv')

In [10]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2020  1970.560169              NaN
1     Afghanistan  2019  2065.036235              NaN
2     Afghanistan  2018  2033.804389              NaN
3     Afghanistan  2017  2058.400221              NaN
4     Afghanistan  2016  2057.067978              NaN
5     Afghanistan  2015  2068.265904              NaN
6     Afghanistan  2014  2102.384604              NaN
7     Afghanistan  2013  2116.465258              NaN
8     Afghanistan  2012  2075.491614              NaN
9     Afghanistan  2011  1904.559926              NaN

In [16]:
gdp_df=gdp_df.drop("Value Footnotes",axis='columns')

KeyError: "['Value Footnotes'] not found in axis"

In [24]:
gdp_df=gdp_df.rename(columns={"Country of Area":"Country","Year":'Year',"Value":"GDP_Per_Capita"})

In [25]:
gdp_df

     Country or Area  Year  GDP_Per_Capita
0        Afghanistan  2020     1970.560169
1        Afghanistan  2019     2065.036235
2        Afghanistan  2018     2033.804389
3        Afghanistan  2017     2058.400221
4        Afghanistan  2016     2057.067978
...              ...   ...             ...
7171        Zimbabwe  1994     2603.927369
7172        Zimbabwe  1993     2420.092791
7173        Zimbabwe  1992     2437.152908
7174        Zimbabwe  1991     2733.696626
7175        Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]